/* -----------------------------------------------------------------------------
    mousestoker
----------------------------------------------------------------------------- */
.mouse-stolker__follower,
.mouse-stolker__cursor {
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    transition: transform .8s, top .6s, left .6s, width .6s, height .6s;
    transition-timing-function: ease-out;
    pointer-events: none;
    @include media(sp) {
        display: none;
    }
}

.mouse-stolker__follower {
    top: -12px;
    left: -12px;
    width: 32px;
    height: 32px;
    border: solid 1px #333;
    &.is-active {
        top: -34px;
        left: -34px;
        width: 70px;
        height: 70px;
    }
}

.mouse-stolker__cursor {
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: rgba(51, 51, 51, 0.7);
    &.is-active {
        top: -2px;
        left: -2px;
    }
}